<div class="footer desk-top">
  <div class="row footer-list">
    <div class="col-sm-5 ">
      <h4 class="title">DISCOVER</h4>
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cricut Individual</li>
            <li class="list-group-item">iPerformance</li>
            <li class="list-group-item">Cricut i Electric Innovation</li>
            <li class="list-group-item">Concept Vehicles</li>
            <li class="list-group-item">The Next 100 Years</li>
            <li class="list-group-item">Cricut ConnectedDrive</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Performance Driving School</li>
            <li class="list-group-item">Ultimate Driving Experience</li>
            <li class="list-group-item">European Delivery</li>
            <li class="list-group-item">Cricut Motorsport</li>
            <li class="list-group-item">Cricut Championship</li>
            <li class="list-group-item">Monticello Motor Club</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h4 class="title">BUY</h4>
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cricut Individual</li>
            <li class="list-group-item">iPerformance</li>
            <li class="list-group-item">Cricut i Electric Innovation</li>
            <li class="list-group-item">Concept Vehicles</li>
            <li class="list-group-item">The Next 100 Years</li>
            <li class="list-group-item">Cricut ConnectedDrive</li>
            <li class="list-group-item">Cricut i Electric Innovation</li>
            <li class="list-group-item">Concept Vehicles</li>
            <li class="list-group-item">The Next 100 Years</li>
            <li class="list-group-item">Cricut ConnectedDrive</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cricut Individual</li>
            <li class="list-group-item">iPerformance</li>
            <li class="list-group-item">Cricut i Electric Innovation</li>
            <li class="list-group-item">Concept Vehicles</li>
            <li class="list-group-item">The Next 100 Years</li>
            <li class="list-group-item">Cricut ConnectedDrive</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3 follow-us">
      <h4 class="title">FOLLOW US</h4>

      <div class="social">
        <img src="../assets/images/OvalFb.png" />
        <img src="../assets/images/OvalTw.png" />
        <img src="../assets/images/OvalIns.png" />
        <img src="../assets/images/OvalIn.png" />
        <img src="../assets/images/OvalYou.png" />
        <img src="../assets/images/OvalPen.png" />
      </div>
      <div class="application">
        <h2>GET THE APP</h2>
        <img src="../assets/images/GooglePlay.png" />
        <img src="../assets/images/AppleStore.png" />
      </div>
    </div>
  </div>
  <div class="row footer-menu">
    <div class="col-sm-2 nav-item">
      <img src="../assets/cricut/media/flag-usa.jpg" width="20px" />
      <select class="language">
        <option selected>USA</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col nav-item">
      <a class="nav-link" href="#">Ad Choices</a>
    </div>

    <div class="col nav-item">
      <a class="nav-link" href="#">Privacy & Policy</a>
    </div>
    <div class="col nav-item">
      <a class="nav-link" href="#">Fraud Warning</a>
    </div>
    <div class="col nav-item">
      <a class="nav-link" href="#">Press Room</a>
    </div>
    <div class="col nav-item">
      <a class="nav-link" href="#">Careers</a>
    </div>
    <div class="col nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </div>
    <div class="col nav-item">
      <a class="nav-link" href="#">Sitemap</a>
    </div>
    <div class="col nav-item">
      <a class="nav-link" href="#">Feeback</a>
    </div>

    <p>© 2019 Cricut of USA</p>
  </div>
</div>

<div class="footer mb-screen">
  <div class="row footer-list">
    <div class="col-sm-5 footer-list-item">
      <h4 class="title">DISCOVER</h4>
      <img src="../assets/images/arrow-right-white.png" />
    </div>
    <div class="col-sm-4 footer-list-item">
      <h4 class="title">BUY</h4>
      <img src="../assets/images/arrow-right-white.png" />
    </div>
    <div class="col-sm-3 footer-list-item">
      <h4 class="title">FOLLOW US</h4>
      <img src="../assets/images/arrow-right-white.png" />
      <div class="social">
        <img src="../assets/images/OvalFb.png" />
        <img src="../assets/images/OvalTw.png" />
        <img src="../assets/images/OvalIns.png" />
        <img src="../assets/images/OvalIn.png" />
        <img src="../assets/images/OvalYou.png" />
        <img src="../assets/images/OvalPen.png" />
      </div>
    </div>
    <div class="application">
      <h2>GET THE APP</h2>
      <img src="../assets/images/GooglePlay.png" />
      <img src="../assets/images/AppleStore.png" />
    </div>
  </div>
  <div class="row footer-menu">
    <div class="col nav-item">
      <img src="../assets/cricut/media/flag-usa.jpg" width="20px" />
      <select class="language">
        <option selected>USA</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col nav-item">
      <a class="nav-link" href="#">Ad Choices</a>
    </div>
  </div>
  <p>© 2019 CricutSUV of USA</p>
</div>
