<div class="banner">
  <!--Carousel Wrapper-->
  <mdb-carousel
    [isControls]="true"
    class="carousel slide"
    [animation]="'slide'"
  >
    <!--Second slide-->
    <mdb-carousel-item>
      <!--Mask color-->
      <div class="view">
        <!--Video source-->
        <video id="video4" class="video-fluid" autoplay loop muted>
          <source src="assets/cricut/media/videos/1.mp4" type="video/mp4" />
        </video>
        <div class="mask rgba-purple-slight waves-light" mdbWavesEffect></div>
      </div>

      <!--Caption-->
      <div class="carousel-caption">
        <div class="animated fadeInLeft">
          <h3 class="h3-responsive">
            Handcraft your holidays.
          </h3>
          <p>
            Make every season merry with Cricut smart cutting machines.
          </p>
          <a (click)="goToCategory('cricut_maker')">
            <button type="button" mdbBtn class="banner-btn" mdbWavesEffect>
              View More
            </button>
          </a>
        </div>
      </div>
      <!--Caption-->
    </mdb-carousel-item>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-carousel-item>
      <!--Mask color-->
      <div class="view">
        <!--Video source-->
        <video id="video1" class="video-fluid" autoplay loop muted>
          <source src="assets/cricut/media/videos/2.mp4" type="video/mp4" />
        </video>
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>

      <!--Caption-->
      <div class="carousel-caption">
        <div class="animated fadeInLeft">
          <h3 class="h3-responsive">
            Handcraft your holidays.
          </h3>
          <p>
            Make every season merry with Cricut smart cutting machines.
          </p>
          <a (click)="goToCategory('cricut_maker')">
            <button type="button" mdbBtn class="banner-btn" mdbWavesEffect>
              View More
            </button>
          </a>
        </div>
      </div>
      <!--Caption-->
    </mdb-carousel-item>
    <mdb-carousel-item>
      <!--Mask color-->
      <div class="view">
        <!--Video source-->
        <video id="video2" class="video-fluid" autoplay loop muted>
          <source src="assets/cricut/media/videos/3.mp4" type="video/mp4" />
        </video>
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>

      <!--Caption-->
      <div class="carousel-caption">
        <div class="animated fadeInLeft">
          <h3 class="h3-responsive">
            Handcraft your holidays.
          </h3>
          <p>
            Make every season merry with Cricut smart cutting machines.
          </p>
          <a (click)="goToCategory('cricut_maker')">
            <button type="button" mdbBtn class="banner-btn" mdbWavesEffect>
              View More
            </button>
          </a>
        </div>
      </div>
      <!--Caption-->
    </mdb-carousel-item>
    <!--/Third slide-->
    <!--First slide-->
    <mdb-carousel-item>
      <!--Mask color-->
      <div class="view">
        <!--Video source-->
        <video id="video3" class="video-fluid" autoplay loop muted>
          <source src="assets/cricut/media/videos/4.mp4" type="video/mp4" />
        </video>
        <div class="mask rgba-indigo-light waves-light" mdbWavesEffect></div>
      </div>

      <!--Caption-->
      <div class="carousel-caption">
        <div class="animated fadeInLeft">
          <h3 class="h3-responsive">
            Handcraft your holidays.
          </h3>
          <p>
            Make every season merry with Cricut smart cutting machines.
          </p>
          <a (click)="goToCategory('cricut_maker')">
            <button type="button" mdbBtn class="banner-btn" mdbWavesEffect>
              View More
            </button>
          </a>
        </div>
      </div>
      <!--Caption-->
    </mdb-carousel-item>
    <!--/First slide-->
  </mdb-carousel>
  <!--Carousel Wrapper-->
</div>
