.search {
  background: #ffffff;
  min-height: 84vh;
  .search-box {
    width: 320px;
    margin: 0 auto;
    padding-top: 30px;
    .search-tag {
      border: unset;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
    }
    .search-tag::placeholder {
      opacity: 0.3;
    }
    .search-tag:focus {
      border: unset;
      box-shadow: unset;
    }
    .search-result {
      margin-top: 50px;
      p {
        font-size: 11px;
        line-height: 13px;
        color: #000000;
        opacity: 0.5;
      }

      .search-list {
        font-size: 14px;
        line-height: 24px;
        color: #000000;
        .list-group-item {
          border: unset;
          padding: 3px 0px;
        }
      }
    }
  }

  .search-block {
    background: #f8f8f8;
    padding: 15px 20px;
    width: 100%;
    height: 50px;
    .icon {
      float: left;
      margin-right: 10px;
    }
    .search-tag {
      width: 95%;
      display: inline-block;
      border: unset;
      background: #f9f9f9;
      margin: 0;
      padding: 0;
      height: 30px;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      height: 20px;
    }
    .close {
      float: right;
      width: 20px;
    }
  }
  .search-result {
    .top-page {
      margin: 25px 20px;

      p {
        margin-top: 20px;
        font-size: 22px;
        line-height: 17px;
        display: inline-block;

        b {
          font-weight: bold;
        }
      }
      .per-page {
        display: inline-block;
        float: right;
        .custom-select {
          width: 60px;
          border-radius: unset;
          margin-left: 10px;
          margin-top: -8px;
          height: 30px;
          padding: 4px 10px;
        }
      }
    }
    .result {
      margin: 0px 20px;
      padding-bottom: 30px;

      .product-item {
        margin: 10px 0px;
        padding: 20px 30px;
        border: 1px solid #b3afafed;

        .product-img {
          padding: 0;
          img {
            cursor: pointer;
          }
        }
        .product-detail {
          padding: 20px 0px;
          h1 {
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            margin: 0;
          }
          p {
            font-size: 11px;
            line-height: 13px;
            opacity: 0.5;
            margin: 0;
          }
          .price {
            font-size: 10px;
            line-height: 12px;
            margin: 10px 0px;
            font-style: normal;
            font-weight: normal;
            .currency {
              font-weight: bold;
              font-size: 14px;
              margin: 5px 0px;
            }
          }
        }
      }

      a {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        color: #189dd4;
        margin-top: 5px;
      }
      p {
        font-size: 12px;
        line-height: 15px;
        margin-top: 15px;
      }
    }
  }
}

.pagination {
  padding-top: 20px;
  .page-item .page-link {
    color: #000000 !important;
  }
  .page-item .active,
  .page-item .page-link:hover {
    background-color: #0e0e0e;
    color: #ffffff !important;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .search-box {
    padding: 30px;
  }

  .search {
    .search-block {
      .search-tag {
        width: 80%;
        font-size: 18px;
        line-height: 22px;
      }
    }
    .search-result {
      width: 100%;
    }
  }
}
